@charset "UTF-8";

.header {
    width: 100%;
    background-color: teal;
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
}
.header h2 {
    color: white;
    font-size: 36px;
    font-weight: normal;
    padding-left: 20px ;
}
.section {
    width: 1050px;
    margin: 0 auto;
}
.page {
    float: left;
    margin-bottom: 15px;
}
.page img {
    display: block;
    float: left;
    margin-right: 20px;
}
.page h2 {
    padding: 20px 20px 20px 20px;
    font-size: 36px;
    font-weight: normal;
}
.page p {
    font-size: 18px;
    font-weight: normal;
}
